*~
*.o

.cproject
.deps
.project
.pydevproject
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
ltmain.sh
missing
Makefile
Makefile.in
Makefile.in.in
POTFILES
stamp-h1
stamp-it
temp.txt

/service/identity-config-service
/tests/frob-install-packages
