*~
*.a
*.o
*.gcda
*.gcno
*.service
*.tar.gz

.cproject
.deps
.intltool-merge-cache
.project
.pydevproject
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
ltmain.sh
missing
Makefile
Makefile.in
Makefile.in.in
POTFILES
stamp-h1
stamp-it
temp.txt

/gtk-doc.make
/realmd-*.*

/build/coverage.info
/build/coverage

/dbus/realm-dbus-generated.c
/dbus/realm-dbus-generated.h
/dbus/realm-dbus-systemd.c
/dbus/realm-dbus-systemd.h
/dbus/realm-dbus-generated-*.xml

/doc/version.xml
/doc/internals/html/
/doc/manual/*.stamp
/doc/manual/xml/
/doc/manual/html/
/doc/manual/*.txt
/doc/manual/*.args
/doc/manual/*.hierarchy
/doc/manual/*.interfaces
/doc/manual/*.prerequisites
/doc/manual/*.signals
/doc/manual/*.types
/doc/manual/tmpl/
/doc/manual/realmd-org.freedesktop.*.xml
/doc/manual/realm.8
/doc/website/html

/po/realmd.pot
/po/*.gmo

/service/identity-config-service
/service/org.freedesktop.realmd.policy
/service/realmd

/tests/frob-install-packages
/tests/frob-package-set
/tests/test-ini-config
/tests/test-samba-config
/tests/test-login-name
/tests/test-sssd-config
/tests/test-samba-ou-format

/tools/realm
/tools/realm-enroll
/tools/realm-discover
