*~
*.o

.cproject
.deps
.intltool-merge-cache
.project
.pydevproject
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
ltmain.sh
missing
Makefile
Makefile.in
Makefile.in.in
POTFILES
stamp-h1
stamp-it
temp.txt

/service/identity-config-service
/service/org.freedesktop.realmd.policy
/service/realm-dbus-generated.c
/service/realm-dbus-generated.h
/service/realmd

/tests/frob-install-packages
